* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* background: linear-gradient(-45deg, #a6f4e5 0%, #23e6bf 47%); */
  /* background-color: rgb(44, 75, 255); */
  background-color: rgb(246, 113, 3);
  color: #1A2634;
  text-align: center;
  height: 100vh;
}

body,
input,
button {
  font-size: 1em;
}

p {
  margin: 2em 0;
}

ol {
  text-align: left;
}

li {
  margin: 0.5em 0;
}

.hidden {
  display: none;
}

header {
  background-color: #fff;
}

.logo {
  width: 100%;
  max-width: 310px;
  max-height: 120px;
  padding: 1em 0;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 1em;
  margin: 0 auto;
}

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view button:last-child {
  margin-bottom: 0;
}

.buzzer-mode {
  background-color: rgb(246, 113, 3);
  color: black;
}

input[type="text"],
input[type="number"],
button {
  display: block;
  padding: 0.8em 1.4em;
  margin: 1em 0;
  width: 100%;
  border-radius: 5px;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #B8B8B8;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="text"]:active,
input[type="number"]:active {
  box-shadow: 0 0 0 3px #ABB7FF;
  outline: none;
}

button {
  padding: 1.4em 1.4em;
  font-size: 1.2em;
  background-color: white;
  color: black;
  cursor: pointer;
  border: 0;
}

button:active {
  box-shadow: rgb(171, 183, 255) 0px 0px 0px 3px;
  outline: 0px;
  transform: translateY(  1px);
}
button:focus {
  box-shadow: 0 0 0 3px #ABB7FF;
}

.main-image {
  height:200px;
}

.buzzer {
  height: 10em;
  width: 270px;
  font-size: 2em;
  background-size: contain;
  color: rgb(18, 30, 102);
  animation: breathing 2s ease-out infinite;
}
.buzzer:focus {
  box-shadow: 0 0 0 3px #ABB7FF;
}
.buzzer:hover,
.buzzer:active {
  /*background-color: #e97284;*/
}

.secondary {
  background-color: #fff;
  color: rgb(16, 21, 78);
}

.secondary:hover {
  background-color: rgb(44, 75, 255);
}

@keyframes breathing {
  0% {
    transform: scale(1) rotateY(0deg);
    background: url('pierre1.png');
    background-size: contain;
  }
  49% {
    transform: scale(0.7) rotateY(150deg);
    background: url('pierre2.png');
    background-size: contain;
  }
  50% {
    transform: scale(0.7) rotateY(150deg);
    background: url('pierre2.png');
    background-size: contain;
  }
  100% {
    transform: scale(1) rotateY(0deg);
    background: url('pierre1.png');
    background-size: contain;
  }
}

.chevre {
  background: url('chevre.png');
  width: 306px;
  height: 393px;
  display: none;
}

.hide-chevre {
  display: none;
}

.show-chevre {
  display: block;
  animation: chevre-up 2s ease-out;
}


@keyframes chevre-up {
  0% {
    transform: scale(0) rotate(720deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.title{
  font-size: 25px;
}
